<div class="container min-vh-100 d-flex justify-content-center">
  <div id="clearance" class="password-reset w-100" style="max-width: 400px;">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center mb-3"><%= t(".title") %></h2>
        <p class="text-center mb-4"><%= t(".description") %></p>

        <%= form_for :password_reset,
              url: [@user, :password, token: @user.confirmation_token],
              html: { method: :put} do |form| %>
          <div class="mb-3">
            <%= form.label :password, class: "form-label" %>
            <%= form.password_field :password, class: "form-control" %>
          </div>

          <div class="d-grid">
            <%= form.submit t(".reset_password"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

